{% extends "./base.html" %}

{% block title %}{{recipe.title}}{% endblock %}
{% block header %}{{recipe.title}}{% endblock %}
{% block content %}
<div>
  {% if metadata.image %}
  <img src={{metadata.image}} width='100%' />
  {% endif %}
  <h3>Description</h3>
  <p>{{metadata.description}}</p>

  {% if metadata.recipeYield %}
  <h3>Meal size</h3>
  <p>{{metadata.recipeYield }}</p>
  {% endif %}

  <h3>Ingredients</h3>
  {% if metadata.recipeIngredient %}
  <ul>
    {% for ingredient in metadata.recipeIngredient %}
    <li>{{ingredient}}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No ingredients</p>
  {% endif %}

  <h3>Instructions</h3>
  {% if metadata.recipeInstructions %}
  <ul {% for instruction in metadata.recipeInstructions %} <li>{{instruction}}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No instructions.</p>
  {% endif %}

  {% if recipe.url %}
  <h3>Lähde</h3>
  <a href={{recipe.url}}>{{recipe.url}}</a>
  {% endif %}

  {% if recipe.comments %}
  <h3>Own comments</h3>
  <p>{{recipe.comments}}</p>
  {% endif %}

  <div class="mt-4">
    <a role="button" href="{% url 'recipe:index' %}" class="btn btn-secondary">Back</a>
    <a role="button" href="{% url 'recipe:edit' recipe.id %}" class="btn btn-primary">Edit</a>
  </div>
</div>
{% endblock %}